<!--if() {-->
<!--    console.log(review_id);-->
<!--    var like_count =  parseInt($(`.count-${review_id}`).text());-->
<!--    like_count = like_count - 1;-->
<!--    $('.like').html(`좋아요(<span class= "count-${review_id}">${like_count}</span>)`);-->
<!--} else {-->
<!--    var like_count =  parseInt($(`.count-${review_id}`).text());-->
<!--    like_count = like_count + 1;-->
<!--    $('.like').html(`좋아요 취소(<span class= "count-${review_id}">${like_count}</span>)`);-->
<!--}-->
